.age{
    background-color: rgb(59, 200, 240);
    padding:30px;
    margin:30px
}


.numOfAge{
    margin-left: 45%;
    background-color:rgb(2, 88, 114);

}
.numage{
    color:white;
    background-color:rgb(2, 88, 114);
    
    
}



